#catalogBlock {
    margin-bottom: 40px;
}

#catalogNavCol {
    width: 250px;
}

#catalogBlock .catalog-title {
    height: 35px;
    font-size: 1.2rem;
    font-weight: 600;
    border-bottom: 1px solid #000000 !important;
}

#catalogNavCol h3 {
    font-size: 1rem;
    font-weight: 600;
}

#priceFilter input {
    width: 80px !important;
}

#priceFilter input::placeholder {
    color: #000000;
}

#priceFilter .line {
    width: 30px;
    background: #000000;
    border: 1px solid;
}

#catalogNavCol .category-item {
    color: #6E797D;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 18px;
    line-height: 17px;
}

#catalogNavCol .category-item div:first-child {
    max-width: 200px;
}

#catalogNavCol .category-item .icon {
    transform: rotate(0);
    transition: all ease 200ms;
}

#catalogBlock .catalog-breadcrumb {
    height: 35px;
    font-size: 0.8rem;
    font-weight: 400;
    color: #6E797D;
    border-bottom: 1px solid #000000 !important;
}

#productsContainer .product-card {
    min-width: 23% !important;
    max-width: 23% !important;
    margin-right: 2.55%;
    margin-bottom: 2.55%;
    background: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#productsContainer a.product-card,
#productsContainer a.product-card:hover {
    text-decoration: none;
    color: #292929;
}

#productsContainer .product-card:nth-child(4n) {
    margin-right: 0;
}

#productsContainer .product-card .product-card-like.processing {
    opacity: 0.5;
    cursor: not-allowed !important;
}

#productsContainer .product-card .product-card-like.is-favorite .non-active {
    display: none !important;
}

#productsContainer .product-card .product-card-like .non-active {
    display: block;
}

#productsContainer .product-card .product-card-like.is-favorite .active {
    display: block !important;
}

#productsContainer .product-card .product-card-like .active {
    display: none;
}

@media (min-width: 1500px) {
    #productsContainer .product-card {
        min-width: 19% !important;
        max-width: 19% !important;
        margin-right: 1.2%;
        margin-bottom: 1.2%;
    }

    #productsContainer .product-card:nth-child(5n) {
        margin-right: 0;
    }

    #productsContainer .product-card:nth-child(4n) {
        margin-right: 1.2%;
    }
}

@media (max-width: 1200px) {
    #productsContainer .product-card {
        min-width: 32% !important;
        max-width: 32% !important;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    #productsContainer .product-card:nth-child(4n) {
        margin-right: 2%;
    }

    #productsContainer .product-card:nth-child(3n) {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    #productsContainer .product-card {
        min-width: 48% !important;
        max-width: 48% !important;
        margin-right: 3.7% !important;
        margin-bottom: 3.7%;
    }

    #productsContainer .product-card:nth-child(3n) {
        margin-right: 3.7%;
    }

    #productsContainer .product-card:nth-child(2n) {
        margin-right: 0 !important;
    }
}

@media (max-width: 400px) {
    #productsContainer .product-card {
        min-width: 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
    }
}

#productsContainer .product-card .product-card-image {
    height: 120px;
}

#productsContainer .product-card .product-card-title {
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 16px;
}

#productsContainer .product-card .product-card-status {
    font-size: 0.8rem;
}

#productsContainer .product-card .product-card-price {
    font-weight: 800;
}

#productsContainer #showMoreProductsButton {
    border: 2px solid;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
}

#productsContainer #showMoreProductsButton.active {
    opacity: 0.5;
    cursor: not-allowed !important;
}
