#categoriesSection .bg.bg-image {
    background-image: url(/public/img/preview-cabinet-img.png);
    overflow: hidden;
}

#categoriesSection .category-card {
    border: 4px solid #ffffff;
    background-color: rgba(0, 150, 217, 0.8);
}

#categoriesSection .category-card:hover {
    background-color: rgba(90, 199, 40, 0.8);
    text-decoration: none !important;
}

#categoriesSection .category-card h5 {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
}

#categoriesSection .category-card p {
    font-size: 0.9rem;
    font-weight: 300;
    color: #ffffff;
    opacity: 0.8;
}

@media (max-width: 1000px) {
    #categoriesSection .category-card h5 {
        font-size: 0.9rem;
    }

    #categoriesSection .category-card p {
        font-size: 0.8rem;
    }
}