body {
    min-width: 320px !important;
}

.icon,
.bg-contain {
    background-position: center !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.bg-image {
    background-position: center !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
}

.bg-cover {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.user-select-none {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.popup {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
}

.popup .popup-container {
    top: 400px;
    transition: all ease 400ms;
    position: relative;
}